:root {
  --black: rgb(10, 10, 10);
  --white: rgb(245, 245, 245);
  --gray-500: rgb(98, 108, 127);
  --gray-50: rgb(244, 246, 250);
  --blue-950: rgb(45, 57, 73);
  --blue-900: rgb(49, 62, 81);
  --blue-850: rgb(59, 77, 102);
  --blue-500: rgb(48, 106, 255);
  --blue-300: rgb(171, 193, 225);
  --blue-100: rgb(237, 241, 249);
  --blue-50: rgb(235, 240, 255);
  --green-500: rgb(47, 216, 135);
  --green-100: rgb(224, 253, 239);
  --purple-600: rgb(167, 41, 245);
  --purple-100: rgb(246, 231, 255);
  --orange-400: rgb(255, 126, 53);
  --orange-50: rgb(255, 245, 237);
  --red-500: rgb(238, 84, 84);
}

html {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: var(--blue-900);
  background-image: url("images/pattern-background-desktop-dark.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main-container {
  margin-top: 6rem;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 5.25rem;
}

.quiz-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.quiz-title-icon {
  background-color: var(--orange-50);
  width: 4rem;
  height: auto;
  border-radius: 0.5rem;
}

.quiz-title-text {
  color: var(--white);
  font-size: 2.25rem;
}

.light-dark-toggle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px; /* Adjust as needed */
  height: 34px; /* Adjust as needed */
}

.toggle-slider {
  position: absolute;
  cursor: pointer;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--purple-600);
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-slider::before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: 0.25rem;
  bottom: 0.375rem;
  background-color: var(--white);
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-switch input:checked + .toggle-slider::before {
  transform: translateX(1.7rem); /* Adjust based on your switch size */
}

.main-section {
  display: flex;
  width: 100%;
  height: 100%;
}

.question-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--gray-50);
}

.question-text {
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 2rem;
  padding-right: 5rem;
}

.question-sub-text {
  color: var(--blue-300);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
}

.choices-section {
  /* background-color: aquamarine; */
  width: 50%;
  height: 100%;
}

.quiz-choices-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choice {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--gray-50);
  text-decoration: none;
  background-color: var(--blue-850);
  border-radius: 1rem;
  border: none;
  padding: 1.5rem;
}

.choice-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
  color: var(--gray-500);
  background-color: var(--gray-50);
  padding: 0.5rem;
}

.choice-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.submit-btn {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  transform: translate(0, 1rem);
  background-color: var(--purple-600);
}
